/* Write your code here: */

/* group (or) */ 
h1, h2 { 
    color:blueviolet;
}

/* child (direct descendant, single generation deep) */ 
.box > p { 
    color: firebrick;
}

/* descendant (any generations deep) */ 
.box li { 
    color: blue;
}

/* chaining (and) */ 
li.done { 
    color: seagreen;
}

/* dscendent and chaining */ 
ul p.done {
    font-size: 0.7rem;
    color: silver;
}
